@media only screen and (max-width: 1365px) {
  .advantages {
    &__features {
      justify-content: space-evenly;
    }
  }

  .feature {
    flex: 0 1 40%;
    margin: 10px 10px 80px 10px;
    &__body {
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    &__logo {
      margin-left: 50px;
      position: relative;
      z-index: 100;
    }

    &__navigation {
      padding: 0;
      background: rgba(#000, 0.75);
    }

    &__input,
    &__lines {
      display: block;
    }

    &__input:checked ~ &__all-menu {
      opacity: 1;
      width: 100%;
      top: 100px;
      backdrop-filter: blur(5px);
    }

    &__menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 20px;
      margin-right: 0;
      li {
        margin: 15px 0;

        a,
        a:hover {
          &::before,
          &::after {
            content: '';
            width: 0px;
            height: 0px;
          }
        }
      }
    }

    &__all-menu {
      display: block;
      padding: 10px 0;
      position: absolute;
      top: -1000px;
      width: 100%;
      opacity: 0;
      overflow: hidden;
      text-align: center;
      background: rgba(#000, 0.5);
      transition: 0.9s;
    }

    &__socials {
      padding: 25px 0 15px;
      a {
        font-size: 32px;
      }
    }
  }

  .footer {
    &__body {
      padding: 20px 50px;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
    }
    &__copyright {
      padding: 30px 0;
      flex-grow: 0;
    }
    &__privacy {
      a:first-child {
        padding-left: 0;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .header {
    &__title {
      h1 {
        font-size: 15vw;
      }
    }
    &__socials {
      a {
        font-size: 40px;
      }
    }
  }

  .contact {
    &__inputs {
      flex-direction: column;
    }

    form {
      label {
        width: 100%;
      }
    }
  }
}
