@import 'variables';
@import 'components/all';

//@import 'media-queries';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}
ul,
li {
  list-style: none;
}

.wrapper {
  background-color: #111;
  max-width: $max-width-wrapper;
  margin: 0 auto;
}

.container {
  max-width: $max-width-container;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  height: 60px;
  a {
    font-weight: 800;
    font-size: 60px;
  }
}
