@import '../variables';

.footer {
  &__body {
    display: flex;

    align-items: center;
    min-height: 180px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #ccc;
    a {
      color: #ccc;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__copyright {
    padding: 0 60px;
    flex-grow: 1;
  }

  &__privacy {
    flex-shrink: 0;
    a {
      display: inline-block;
      padding-left: 17px;
    }
  }
}
