@import '../variables';

$color: white;
$width: 35px;
$line-height: $width/7;

.header {
  &__body {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    text-transform: uppercase;
  }

  &__mobile {
    display: none;
    margin: 0 5px;
    padding: 5px;
    border: 1px solid white;
  }
  &__wrapper {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100px;
    z-index: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  // &__container {
  //   margin: 0 auto;
  //   max-width: $max-width-wrapper;
  //   height: 100%;
  //   //background: rgba(#000, 0.2);
  // }

  &__navigation {
    margin: 0 auto;
    max-width: $max-width-container;
    padding: 0 15px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: #fff;
    }
  }

  &__menu {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    li {
      margin-right: 20px;
      position: relative;

      &:last-child {
        margin-right: 0;
      }
    }
    a {
      display: block;
      padding: 0 5px;
      height: 24px;
      text-transform: uppercase;
      &:hover {
        background: burlywood;
      }
    }
    &--active {
      a {
        text-decoration: underline;
        font-weight: 800;
      }
    }
  }
  &__socials {
    a {
      display: inline-block;
      margin-right: 10px;
      font-size: 18px;
      font-weight: 400;
      font-size: 18px;
      padding: 0 5px;

      &:last-child {
        margin: 0;
      }
      &:hover {
        background: burlywood;
      }
    }
  }

  /////header menu end

  &__screen {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    text-align: center;
    h1 {
      font-weight: 800;
      font-size: 120px;
      margin: 10px;
      line-height: 120px;
    }
    p {
      line-height: 30px;
      letter-spacing: 1em;
    }
  }

  &__btn {
    position: absolute;
    bottom: 80px;

    text-align: center;
    p {
      margin-bottom: 20px;
    }
  }

  &__all-menu {
    display: flex;
  }

  //mibile menu
  &__input {
    display: none;
    width: $width;
    height: $width;
    position: absolute;
    right: 50px;
    z-index: 10;
    opacity: 0;
    &:checked ~ .header__lines {
      width: 0px;
    }
    &:checked ~ .header__lines:before {
      transform: rotate(45deg) translate(0px);
    }
    &:checked ~ .header__lines:after {
      transform: rotate(-45deg) translate(0px);
    }
  }
  &__lines {
    display: none;
    position: absolute;
    right: 50px;
    width: $width;
    height: $line-height/2;
    border-radius: $line-height/3;
    background: $color;
    cursor: pointer;
    transition: 0.6s;
    &:before {
      content: '';
      width: $width;
      height: $line-height/2;
      background: $color;
      position: absolute;
      right: 0px;
      transform: translateY(-$line-height * 2);
      border-radius: $line-height/3;
      transition: 0.6s;
    }
    &:after {
      content: '';
      width: $width;
      height: $line-height/2;
      background: $color;
      position: absolute;
      right: 0px;
      transform: translateY($line-height * 2);

      border-radius: $line-height/3;
      transition: 0.6s;
    }
  }
}
